@media (width > 585px) {
    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    .mountainMob{
        background: url("../components/images/mountain.svg");
        width: 100%;
        height: 300px;
    }
    .middle{
        width: 581px;
    }
}
